<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252721721926-aqulephg39f8huojositaaj51opao3ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252721721926-aqulephg39f8huojositaaj51opao3ga</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>252721721926-2ues764lu2a3aqkgbic0es757gkb39a5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACfSXYqAc7RC1TRzFQrg_dCwwwQ88LLuw</string>
	<key>GCM_SENDER_ID</key>
	<string>252721721926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.graphene</string>
	<key>PROJECT_ID</key>
	<string>grapheneapp</string>
	<key>STORAGE_BUCKET</key>
	<string>grapheneapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252721721926:ios:8457ab49723d6392d41047</string>
	<key>DATABASE_URL</key>
	<string>https://grapheneapp.firebaseio.com</string>
</dict>
</plist>